<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>7-2-Tugas-Ajax</title>

  <style>
    body {
      background-color: azure;
      padding: 2rem;
    }
    #app {
      visibility: hidden;
      text-align: center;
      display: block;
      padding: 1rem;
      color: #333333;
      background-color: #ffffff;
      border-radius: 20px;
      box-shadow: #cccccc 0px 5px 5px;
    }
    .input-group {
      width: 90%;
      margin: 1rem auto;
      transform: translateX(-7px);
    }
    #message {
      padding: 0.05rem;
      border-radius: 0.5rem;
      margin: 1rem 0;
      text-align: left;
    }
    #errors {
      padding: 0.05rem;
      border-radius: 0.5rem;
      margin: 1rem 0;
      text-align: left;
      width: 100%;
    }
    #profile h2 {
      margin: 0.5rem auto;
    }
    #profile p {
      margin: 0.4rem auto;
    }
    .button {
      padding: 0.7rem;
      border: none;
      border-radius: 0.5rem;
      font-weight: bold; 
      margin: 0.7rem 0;
      cursor: pointer;
      opacity: 75%;
    }
    .button:hover {
      opacity: 100%;
    }
    .bg-green {
      background-color: #057A55;
      color: #ffffff;
    }
    .bg-blue {
      background-color: #5468ff;
      color: #ffffff;
    }
    .bg-light-blue {
      background-color: #e1effe;
      color: #1E429F;
    }
    .bg-yellow {
      background-color: #FACA15;
      color: #000000;
    }
    .bg-red {
      background-color: #C81E1E;
      color: #ffffff;
    }
    .avatar {
      width: 50px;
      height: auto;
      border-radius: 50%;
      background-color: #f6f6f6;
    }
    .text-left {
      text-align: left;
    }
    table {
      margin-left: auto;
      margin-right: auto;
      border: 1px solid #eee;
      border-bottom: none;
      border-right: none;
      border-spacing: 0px;
      margin-bottom: 20px;
    }
    td,th {
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 0.1rem 0.5rem;
    }
    th {
      background-color: #eee;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    input, label {
      display: block;
      width: 100%;
    }
    label {
      text-align: left;
    }
    input {
      height: 1.8rem;
      border-radius: 5px;
      border: 1px solid #ccc;
      padding: 2px 5px;
    }
    input[type=file] {
      padding: 6px 5px 0;
    }

    /* The Modal (background) */
    .modal {
      display: block;
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      border-radius: 15px;
    }

    .modal h2 {
      text-transform: capitalize;
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      width: 50%; /* Could be more or less, depending on screen size */
      max-width: 400px;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>Daftar Member</h1>
    <div id="message" class="bg-light-blue" v-if="messages.length">
      <ul v-for="message in messages">
        <li>{{message}}</li>
      </ul>
    </div>

    <button id="add_member" class="button bg-green" @click="openForm('add')">+ Tambah Member</button>
    
    <table >
      <thead>
        <tr>
          <th>Id</th>
          <th>Avatar</th>
          <th>Nama</th>
          <th>Kontak</th>
          <th></th>
        </tr>
        <tr v-for="(member, index) in members">
          <td>{{member.id}}</td>
          <td>
            <img class="avatar" :src="'http://demo-api-vue.sanbercloud.com'+member.photo_profile" alt="" v-if="member.photo_profile">
            <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="" v-else>
          </td>
          <td>
            <a href="#" @click="showMember(member.id)">{{member.name}}</a>
          </td>
          <td class="text-left">
            <strong>Alamat:</strong> {{member.address}}<br/>
            <strong>No. Handphone:</strong> {{member.no_hp}}
          </td>
          <td>
            <button type="button" class="button bg-yellow" @click="editMember(index)">Edit</button>
            <button type="button" class="button bg-red" @click="deleteMember(member.id)">Delete</button>
            <button type="button" class="button bg-blue" @click="input.id = member.id; openForm('uploadAvatar')">Upload Foto</button>
          </td>
        </tr>
      </thead>
    </table>

    <div id="myModal" class="modal" v-if="displayForm">
      <div class="modal-content">
        <form id="form" action="">
          <div id="errors" class="bg-red" v-if="errors.length">
            <ul v-for="error in errors">
              <li>{{error}}</li>
            </ul>
          </div>
          <template v-if="mode=='uploadAvatar'">
            <h2>Upload Avatar</h2>
            <div class="input-group">
              <label for="name">File</label>
              <input type="file" accept="image/*" name="photo" id="photo" ref="photo">
            </div>
          </template>

          <div id="profile" v-else-if="mode=='show'">
            <img class="avatar" :src="`http://demo-api-vue.sanbercloud.com${displayedMember.photo_profile}`" alt="" v-if="displayedMember.photo_profile">
            <img class="avatar" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png" alt="" v-else>
            <h2>{{displayedMember.name}}</h2>
            <!-- "id": 1, -->
            <p><strong>Id:</strong> {{displayedMember.id}}</p>
            <!-- "address": "Jalan Rancamanyar, Bandung", -->
            <p><strong>Alamat:</strong> {{displayedMember.address}}</p>
            <!-- "no_hp": "08765435783", -->
            <p><strong>No. Handphone:</strong> {{displayedMember.no_hp}}</p>
            <!-- "created_at": "2021-04-06 02:13:09", -->
            <p><strong>Terdaftar Sejak:</strong> {{displayedMember.created_at.split(' ')[0]}}</p>
            <!-- "updated_at": "2021-04-06 02:13:09" -->
            <p><strong>Update Terakhir:</strong> {{displayedMember.updated_at.split(' ')[0]}}</p>
          </div>

          <template v-else>
            <h2>{{mode}} Member</h2>
            <div class="input-group">
              <label for="name">Nama</label>
              <input type="text" name="name" id="name" v-model="input.name">
            </div>
            <div class="input-group">
              <label for="address">Alamat</label>
              <input type="text" name="address" id="address" v-model="input.address">
            </div>
            <div class="input-group">
              <label for="phone">Nomor Handphone</label>
              <input type="text" name="phone" id="phone" v-model="input.no_hp">
            </div>
          </template>
        </form>
        <button class="button" @click="resetForm()">{{mode=='show'?'tutup':'batal'}}</button>
        <button class="button bg-green" @click="addMember()" v-if="mode == 'add'">simpan</button>
        <button class="button bg-yellow" @click="updateMember()" v-else-if="mode == 'edit'">update</button>
        <button class="button bg-green" @click="uploadAvatar()" v-else-if="mode == 'uploadAvatar'">simpan</button>
      </div>
    </div>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        members: [],
        input: {
          id: '',
          name: '',
          address: '',
          no_hp: '',
        },
        messages: [],
        errors: [],
        displayForm: false,
        mode: '',
        displayedMember: {}
      },
      computed : {
        
      },
      created() {
        this.getMembers()
      },
      mounted() {
        document.getElementById('app').style.visibility = 'visible'
      },
      methods : {
        openForm(mode) {
          this.mode = mode
          this.resetForm()
          this.displayForm=true
        },

        resetForm() {
          this.displayForm = false
          this.errors = []
          this.messages = []
          this.input.name = ''
          this.input.address = ''
          this.input.no_hp = ''
        },

        validate() {
          this.errors = []

          if (this.input.name.length < 3) {
            this.errors.push('Nama minimal 3 karakter')
          }
          if (this.input.address.length < 10 || this.input.address.length > 200) {
            this.errors.push('Alamat minimal 10 karakter, maksimal 200 karakter')
          }
          if (this.input.no_hp.length < 8 || this.input.no_hp.length > 15) {
            this.errors.push('Nomor Handphone minimal 8 karakter, maksimal 15 karakter')
          }

          if (this.errors.length > 0) {
            return false
          }

          return true
        },

        // retrieve all member
        getMembers() {
          const config = {
            method: 'get',
            url: 'http://demo-api-vue.sanbercloud.com/api/member'
          }
          axios(config)
          .then((response) => {
            this.members = response.data.members
            this.messages.push(response.data.message)
            this.displayForm = false
          })
          .catch((error) => {
            this.errors.push(error)
          })
        },

        // create member
        addMember() {
          if(!this.validate()) {
            return false
          }

          let formData = new FormData()
          formData.append('name', this.input.name)
          formData.append('address', this.input.address)
          formData.append('no_hp', this.input.no_hp)

          const config = {
            method: 'post',
            url: 'http://demo-api-vue.sanbercloud.com/api/member',
            data: formData
          }

          axios(config)
          .then((response)=>{
            this.messages.push(response.data.message)
            this.getMembers()
          })
          .catch((error)=>{
            this.errors.push(error)
          })
        },

        // edit member
        editMember(index) {
          this.openForm('edit')
          this.input.id = this.members[index].id
          this.input.name = this.members[index].name
          this.input.address = this.members[index].address
          this.input.no_hp = this.members[index].no_hp
        },

        // update member
        updateMember() {
          if(!this.validate()) {
            return false
          }
          
          const id = this.input.id

          let formData = new FormData()
          formData.append('name', this.input.name)
          formData.append('address', this.input.address)
          formData.append('no_hp', this.input.no_hp)

          const config = {
            method: 'post',
            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
            params: { _method: 'PUT' },
            data: formData
          }

          axios(config)
          .then((response)=>{
            this.messages.push(response.data.message)
            this.getMembers()
          })
          .catch((error)=>{
            this.errors.push(error)
          })
        },

        // delete member
        deleteMember(id) {
          this.resetForm()

          if (confirm("Are you sure?") == true) {
            const config = {
              method: 'post',
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params: { _method: 'DELETE' },
            }
            axios(config)
            .then((response) => {
              this.messages.push(response.data.message)
              this.getMembers()
            })
            .catch((error) => {
              this.errors.push(error)
            }) 
          }
        },

        // upload avatar
        uploadAvatar() {
          const id = this.input.id
          const file = this.$refs.photo.files[0];
          
          formData = new FormData()
          formData.append('photo_profile', file)
          const config = {
            method: 'post',
            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
            data: formData,
          }

          axios(config)
          .then((response) => {
            this.messages.push(response.data.message)
            this.getMembers()
          })
          .catch((error) => {
            this.errors.push(error)
          })
        },
      
        showMember(id) {
          const config = {
            method: 'get',
            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`
          }
          axios(config)
          .then((response) => {
            this.displayedMember = response.data.member
            this.openForm('show')
          })
          .catch((error) => {
            this.errors.push(error)
          })
        }
      }
  })
  </script>
</body>
</html>